.up-down-loading-animation {
  position: relative;
  width: 300px;
  background-color: red;
}
.successfull-account {
  color: green;
  font-size: 13px;
  margin-top: 5px;
}
input.input-error,
select.input-error {
  outline: 0.5px solid red;
}
.error-field {
  font-size: 12px;
  color: red;
  /* justify-self: flex-start; */
  align-self: flex-start;
}
button.disabled {
  opacity: 0.35;
}
.form-container h1 {
  font-weight: bold;
}
.form-container span {
  font-size: 12px;
}
.form-container a {
  color: #333;
  font-size: 14px;
  text-decoration: none;
  margin: 15px 0;
}
.social-container {
  margin: 20px 0;
}
.social-container a {
  border: 1px solid #dddddd;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
  height: 40px;
  width: 40px;
}

.form-container button {
  border-radius: 20px;
  border: 1px solid var(--mainColor);
  background-color: var(--mainColor);
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
  cursor: pointer;
}

button:hover {
  transform: scale(0.95);
}

button:focus {
  outline: none;
}
form {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  height: 100%;
  text-align: center;
}
@media (min-width: 769px) and (max-width: 1500px) {
  .form-container h1 {
    font-size: 27px;
  }
}
@media (min-width: 769px) {
  .form-container {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
  }
}
@media (max-width: 768px) {
  .form-container {
    height: 100%;
    transition: all 0.6s ease-in-out;

    background-color: #ffffff;
    min-height: 453px;

    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    width: 100%;
    border-radius: 10px;
  }
  form {
    border-radius: 10px;
    padding: 15px;
    width: 270px;
  }
  .authActionSpan {
    color: gray !important;
    font-weight: 500;
    cursor: pointer;
  }
}
