@import url("https://fonts.googleapis.com/css?family=Montserrat:400,800");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --mainColor: rgb(144, 164, 164);
}
body {
  height: 100vh;
}
